name: Grades Checker

on:
  schedule:
    - cron: "*/12 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install deps
      run: |
        pip install playwright
        playwright install chromium

    - name: Run script
      env:
        BOT_SECRETS_B64: ${{ secrets.BOT_SECRETS_B64 }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python3 main.py
